/* Add your custom styles here */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.news-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  width: 70%;
}

.news-header {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.news-source {

  color: #000;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 22px;
}

.news-image {
  width: 100%;
  height: auto;
}

.news-content {
  padding: 15px;
  text-align: left;
  
}

.add-news-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-content p {
  font-size: 22px;
}

.news-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.news-description {
  font-size: 14px;
  color: #555;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.news-date {
  font-size: 22px;
  color: red;
  font-weight: bold;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.edit-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.edit-button:hover {
  background-color: darkblue;
}

.delete-button:hover {
  background-color: darkred;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 500px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-content form input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
}

.modal-content form button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
